In [1]:
import requests

head  = {'User-Agent':
'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36'}

In [2]:
url = "https://www.melon.com/chart/index.htm"

In [3]:
r = requests.get(url)

In [4]:
r.status_code

## 406(Not acceptable) : 요청은 정상이나 서버에서 받아들일 수 없는 요청 - 멜론에서 거부당함

406

In [5]:
r = requests.get(url, headers= head)

r.status_code

200

In [44]:
# r.text

In [7]:
from bs4 import BeautifulSoup

# BeautifulSoup -> html로 파싱하는 역할

In [45]:
bs = BeautifulSoup(r.text)
# bs, type(bs)

In [9]:
bs.find("span", class_='year')

In [20]:
import pandas as pd
import lxml

In [25]:
melon_df = pd.read_html(r.text)[0][['순위', '곡정보', '앨범']]
melon_df

,순위,곡정보,앨범
0,1위,Seven (feat. Latto) - Clean Ver. 정국,Seven (feat. Latto) - Clean Ver.
1,2위,Super Shy NewJeans,NewJeans 2nd EP 'Get Up'
2,3위,ETA NewJeans,NewJeans 2nd EP 'Get Up'
3,4위,퀸카 (Queencard) (여자)아이들,I feel
4,5위,헤어지자 말해요 박재정,1집 Alone
...,...,...,...
95,96위,파랑 (Blue Wave) NCT DREAM,ISTJ - The 3rd Album
96,97위,I WANT IVE (아이브),I WANT
97,98위,Get Up NewJeans,NewJeans 2nd EP 'Get Up'
98,99위,Cream Soda EXO,EXIST - The 7th Album
99,100위,Like We Just Met NCT DREAM,ISTJ - The 3rd Album

In [41]:
from datetime import date, timedelta

date.today(), str(date.today())

(datetime.date(2023, 8, 16), '2023-08-16')

In [42]:
for i in range(100,1001,100):
    print(date.today() + timedelta(days=i));

2023-11-24
2024-03-03
2024-06-11
2024-09-19
2024-12-28
2025-04-07
2025-07-16
2025-10-24
2026-02-01
2026-05-12

In [43]:
## 멜론 데이터에 현재 시간을 저장
melon_df['저장시간'] = str(date.today())
melon_df

,순위,곡정보,앨범,저장시간
0,1위,Seven (feat. Latto) - Clean Ver. 정국,Seven (feat. Latto) - Clean Ver.,2023-08-16
1,2위,Super Shy NewJeans,NewJeans 2nd EP 'Get Up',2023-08-16
2,3위,ETA NewJeans,NewJeans 2nd EP 'Get Up',2023-08-16
3,4위,퀸카 (Queencard) (여자)아이들,I feel,2023-08-16
4,5위,헤어지자 말해요 박재정,1집 Alone,2023-08-16
...,...,...,...,...
95,96위,파랑 (Blue Wave) NCT DREAM,ISTJ - The 3rd Album,2023-08-16
96,97위,I WANT IVE (아이브),I WANT,2023-08-16
97,98위,Get Up NewJeans,NewJeans 2nd EP 'Get Up',2023-08-16
98,99위,Cream Soda EXO,EXIST - The 7th Album,2023-08-16
99,100위,Like We Just Met NCT DREAM,ISTJ - The 3rd Album,2023-08-16

In [32]:
import sqlalchemy

In [38]:
# DB 설정
user = 'root'
password = '8489'
host = '127.0.0.1' # loopback IP or Localhost 
port = '3306'
database = 'encore' # 이미 존재하고 있는 encore 데이터베이스 사용.

engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [39]:
## mysql에 연결되고 melon 테이블이 생성되고 데이터가 저장됨
melon_df.to_sql(con=engine, name="melon", if_exists="append")

## append 를 통해 바뀐 탑 100 의 멜론 차트 노래를 각 날짜에 따라서 저장 가능

100