In [1]:
import requests

In [3]:
url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

payload ={
"bld" : "dbms/MDC/STAT/standard/MDCSTAT01901",
"locale": "ko_KR",
"mktId": "ALL",
"share": "1",
"csvxls_isNo" : "false",
}

head = {"User-Agent" :
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36"}

In [4]:
r = requests.post(url, payload, headers=head)

In [21]:
# r.text

## check this
# r.json()['OutBlock_1']

In [5]:
import pandas as pd

df = pd.DataFrame(r.json()['OutBlock_1'])
# df

### 무슨 요일에 상장을 했을 지 알아보는 전처리 1

In [33]:
from datetime import datetime

date_format = "%Y/%m/%d" 
weekday_values = []  

days = {
    0: 'Mon', 
    1: 'Tue', 
    2: 'Wed', 
    3: 'Thu', 
    4: 'Fri', 
    5: 'Sat', 
    6: 'Sun'
    }

for i in df['LIST_DD']:
    date_obj = datetime.strptime(i, date_format)

    weekday = days[date_obj.weekday()]
    weekday_values.append(weekday)

df['LIST_DD'] = weekday_values

In [34]:
df['LIST_DD'].value_counts()

LIST_DD
Fri    667
Thu    573
Tue    557
Wed    490
Mon    383
Sat     78
Name: count, dtype: int64

### 무슨 요일에 상장을 했을 지 알아보는 전처리 2

In [72]:
df['LIST_DD'] = pd.to_datetime(df['LIST_DD'])

In [73]:
master = dict(zip(range(0,7),"월화수목금토일"))

In [74]:
df['LIST_DD'].apply(lambda x : master[x.weekday()]).value_counts()

LIST_DD
금    667
목    573
화    557
수    490
월    383
토     78
Name: count, dtype: int64

In [75]:
df[df['LIST_DD'].apply(lambda x : master[x.weekday()] == "토")].sort_values("LIST_DD").tail(5)

,ISU_CD,ISU_SRT_CD,ISU_NM,ISU_ABBRV,ISU_ENG_NM,LIST_DD,MKT_TP_NM,SECUGRP_NM,SECT_TP_NM,KIND_STKCERT_TP_NM,PARVAL,LIST_SHRS
994,KR7015750003,015750,성우하이텍,성우하이텍,"SUNGWOO HITECH CO., LTD",1995-11-04,KOSDAQ,주권,우량기업부,보통주,500,"80,000,000"
1200,KR7025980004,025980,아난티,아난티,Ananti Inc.,1996-01-06,KOSDAQ,주권,우량기업부,보통주,100,"87,629,522"
2379,KR7027710003,027710,팜스토리,팜스토리,"FarmStory CO.,LTD.",1996-07-06,KOSDAQ,주권,우량기업부,보통주,500,"111,416,600"
1435,KR7028300002,028300,에이치엘비,HLB,HLB INC.,1996-07-27,KOSDAQ,주권,중견기업부,보통주,500,"128,929,651"
910,KR7032280000,032280,삼일,삼일,SamIl,1997-03-15,KOSDAQ,주권,중견기업부,보통주,"1,000","16,213,590"

In [76]:
from datetime import date, datetime, timedelta
df['현재까지'] = df['LIST_DD'].apply(lambda x : (datetime.now()-x).days)

In [77]:
# df.sort_values(by="현재까지")
df[df['현재까지']<100].sort_values(by="현재까지",ascending=False).head()

,ISU_CD,ISU_SRT_CD,ISU_NM,ISU_ABBRV,ISU_ENG_NM,LIST_DD,MKT_TP_NM,SECUGRP_NM,SECT_TP_NM,KIND_STKCERT_TP_NM,PARVAL,LIST_SHRS,현재까지
2311,KR7417790003,417790,트루엔,트루엔,"TRUEN Co., Ltd",2023-05-17,KOSDAQ,주권,벤처기업부,보통주,100,"10,999,650",99
2260,KR7446840001,446840,키움제8호기업인수목적,키움제8호스팩,Kiwoom No.8 Special Purpose Acquisition Company,2023-05-17,KOSDAQ,주권,SPAC(소속부없음),보통주,100,"5,880,000",99
2229,KR7456190008,456190,큐라켐,큐라켐,CURACHEM,2023-05-18,KONEX,주권,일반기업부,보통주,500,"1,754,286",98
1181,KR7340810001,340810,씨유박스,씨유박스,"CUBOX Co., Ltd",2023-05-19,KOSDAQ,주권,기술성장기업부,보통주,500,"10,347,861",97
685,KR7434480000,434480,모니터랩,모니터랩,"MONITORAPP CO., LTD.",2023-05-19,KOSDAQ,주권,기술성장기업부,보통주,100,"12,083,500",97

In [6]:
# KOSDAQ, KOSPI 에만 상장된 주식 데이터 가져오기

target = df.loc[df.MKT_TP_NM.apply(lambda x : (x == 'KOSPI') or (x =='KOSDAQ'))].copy()
target.shape
##  위와 같은 결과 값.
# target = df[df['MKT_TP_NM'].isin(["KOSPI","KOSDAQ"])].copy()
# target['ISU_SRT_CD']

(2570, 12)

In [25]:
target.sort_values('LIST_DD',ascending=False).head()

,ISU_CD,ISU_SRT_CD,ISU_NM,ISU_ABBRV,ISU_ENG_NM,LIST_DD,MKT_TP_NM,SECUGRP_NM,SECT_TP_NM,KIND_STKCERT_TP_NM,PARVAL,LIST_SHRS
1094,KR7418250007,418250,시큐레터,시큐레터,"SecuLetter Co., Ltd.",2023-08-24,KOSDAQ,주권,기술성장기업부,보통주,500,"7,911,521"
1071,KR7424960003,424960,스마트레이더시스템,스마트레이더시스템,"Smart Radar System, Inc.",2023-08-22,KOSDAQ,주권,기술성장기업부,보통주,500,"14,836,340"
293,KR7092790005,092790,넥스틸보통주,넥스틸,NEXTEEL,2023-08-21,KOSPI,주권,,보통주,500,"26,002,000"
844,KR7210120002,210120,빅토리콘텐츠,빅텐츠,"Victory Contents Co.,Ltd.",2023-08-17,KOSDAQ,주권,중견기업부,보통주,500,"3,144,610"
1383,KR7457940005,457940,에스케이증권제10호기업인수목적,에스케이증권제10호스팩,SK Securities No.10 Special Purpose Acquisitio...,2023-08-11,KOSDAQ,주권,SPAC(소속부없음),보통주,100,"3,310,000"

## 네이버 증권 사이트에서 시세 가져오기

In [7]:
import requests

In [7]:
sise_url = "https://api.finance.naver.com/siseJson.naver?symbol=004830&requestType=2&count=1000&startTime=20230823&timeframe=day"

In [8]:
r2 = requests.post(sise_url)
r2

In [85]:
eval(r2.text.replace("\n","").strip())[0]

tmp = eval(r2.text.replace("\n","").strip())

In [47]:
# pd.DataFrame(tmp[1:], columns=tmp[0])

# stock 폴더에 종목코드 `.csv` 형태로 저장 (KOSPI, KOSDAQ)

In [7]:
sise_url2 = "https://api.finance.naver.com/siseJson.naver?symbol={}&requestType=1&startTime=2020101&endTime=20230823&timeframe=day"

r3 = requests.post(sise_url2.format('006840'))

In [41]:
tmp = eval(r3.text.replace("\n","").strip())
tmp

[['날짜', '시가', '고가', '저가', '종가', '거래량', '외국인소진율'],
 ['20201012', 17500, 18600, 17500, 18600, 104854, 10.06],
 ['20201013', 18650, 19000, 18400, 18650, 80312, 9.95],
 ['20201014', 18650, 18900, 18050, 18300, 36597, 9.86],
 ['20201015', 18200, 18350, 17550, 17700, 46155, 9.86],
 ['20201016', 17600, 17750, 17100, 17150, 43992, 9.73],
 ['20201019', 17200, 17700, 17200, 17400, 32059, 9.73],
 ['20201020', 17600, 17600, 17200, 17400, 15922, 9.68],
 ['20201021', 17400, 17900, 17250, 17700, 19721, 9.68],
 ['20201022', 17800, 17950, 17550, 17950, 18201, 9.7],
 ['20201023', 18000, 18450, 17800, 18250, 39425, 9.77],
 ['20201026', 18100, 18300, 17800, 18150, 24533, 9.76],
 ['20201027', 17650, 18300, 17650, 17800, 37850, 9.71],
 ['20201028', 18100, 18100, 17600, 17750, 26647, 9.72],
 ['20201029', 17550, 17750, 17300, 17500, 17458, 9.67],
 ['20201030', 17500, 17750, 17050, 17100, 29593, 9.57],
 ['20201102', 17100, 17600, 17100, 17400, 13765, 9.55],
 ['20201103', 17700, 18000, 17400, 18000, 13844, 9.55],
 ['20201104', 18450, 18450, 17650, 17700, 18172, 9.53],
 ['20201105', 17700, 18250, 17700, 18100, 22203, 9.54],
 ['20201106', 18150, 18200, 17900, 18100, 25704, 9.55],
 ['20201109', 18400, 18600, 18150, 18250, 43337, 9.57],
 ['20201110', 19800, 20400, 18900, 19000, 191654, 9.53],
 ['20201111', 19050, 20200, 19050, 20000, 175862, 9.75],
 ['20201112', 19950, 20200, 19500, 20000, 93304, 9.62],
 ['20201113', 20000, 20850, 19900, 20200, 116231, 9.6],
 ['20201116', 20150, 21300, 20100, 20900, 173883, 9.66],
 ['20201117', 21150, 21400, 20500, 20800, 64596, 9.58],
 ['20201118', 20800, 20900, 20300, 20450, 55041, 9.61],
 ['20201119', 20400, 20400, 19650, 19850, 88479, 9.38],
 ['20201120', 19750, 20400, 19650, 20150, 40961, 9.37],
 ['20201123', 19900, 21250, 19650, 21100, 121658, 9.55],
 ['20201124', 21800, 22500, 21400, 22300, 225294, 9.62],
 ['20201125', 22500, 23050, 21350, 21850, 153071, 9.44],
 ['20201126', 21750, 21950, 21150, 21650, 78054, 9.28],
 ['20201127', 21500, 22150, 21250, 21950, 74168, 9.27],
 ['20201130', 21950, 22100, 20950, 20950, 175532, 8.88],
 ['20201201', 21050, 22250, 20950, 21900, 95026, 8.85],
 ['20201202', 21750, 22950, 21700, 22800, 170977, 8.88],
 ['20201203', 23100, 27850, 23050, 25950, 931313, 8.82],
 ['20201204', 25950, 26950, 25750, 26400, 301950, 8.84],
 ['20201207', 25750, 27000, 25000, 26700, 264109, 8.7],
 ['20201208', 26600, 26850, 25850, 26100, 130139, 8.58],
 ['20201209', 26350, 27350, 25950, 26950, 180879, 8.52],
 ['20201210', 27000, 27500, 26600, 26600, 119583, 8.31],
 ['20201211', 26600, 26950, 26550, 26550, 106468, 8.25],
 ['20201214', 26200, 26200, 25050, 25200, 151277, 8.26],
 ['20201215', 25200, 25400, 24300, 25350, 81567, 8.31],
 ['20201216', 25650, 25800, 25000, 25350, 78345, 8.27],
 ['20201217', 25350, 25350, 24500, 24950, 87506, 8.28],
 ['20201218', 24900, 25100, 24600, 25050, 58704, 8.37],
 ['20201221', 24950, 25050, 24400, 24950, 49917, 8.34],
 ['20201222', 24550, 24750, 24300, 24550, 41056, 8.33],
 ['20201223', 24550, 24700, 23300, 23600, 90361, 8.22],
 ['20201224', 23600, 25350, 23550, 25200, 112401, 8.36],
 ['20201228', 25300, 25950, 24700, 24900, 195401, 8.28],
 ['20201229', 25050, 25250, 24700, 25100, 124163, 8.39],
 ['20201230', 25300, 25350, 25000, 25150, 89368, 8.42],
 ['20210104', 25900, 25900, 25200, 25250, 92861, 8.34],
 ['20210105', 25200, 25200, 24750, 25050, 88941, 8.25],
 ['20210106', 25050, 25550, 24900, 24900, 66138, 8.24],
 ['20210107', 24950, 25250, 24850, 25200, 94211, 8.12],
 ['20210108', 25200, 25750, 25000, 25350, 132698, 8.03],
 ['20210111', 25350, 25350, 24400, 24800, 130502, 7.83],
 ['20210112', 24600, 25300, 24250, 25000, 125264, 7.77],
 ['20210113', 25400, 25550, 24800, 25400, 119375, 7.79],
 ['20210114', 25300, 27700, 25100, 27550, 488750, 8.36],
 ['20210115', 27350, 27900, 25800, 26300, 251891, 7.75],
 ['20210118', 25600, 25800, 24500, 25200, 143803, 7.65],
 ['20210119', 24900, 25700, 24850, 25650, 80470, 7.67],
 ['20210120', 25700, 25850, 24900, 25650, 109181, 7.57],
 ['20210121', 25750, 26150, 25550, 25850, 96709, 7.53],
 ['20210122', 25750, 29550, 25600, 29100, 727088, 8.08],
 ['20210125', 29000, 31100, 29000, 30100, 386257, 7.86],
 ['20210126', 30100, 30200, 29000, 29950, 170870, 7.67],
 ['20210127', 29750, 29800, 28650, 28800, 158724, 7.32],
 ['20210128', 28000, 29250, 27500, 29100, 141577, 7.29],
 ['20210129', 29250, 30950, 27650, 28950, 371781, 7.04],
 ['20210201', 28250, 29050, 27650, 28500, 149298, 6.95],
 ['20210202', 29300, 30800, 29200, 29300, 248760, 7.11],
 ['20210203', 30050, 30450, 29650, 30100, 152681, 7.05],
 ['20210204', 30100, 32850, 29650, 32450, 534784, 7.45],
 ['20210205', 32100, 33000, 31300, 32400, 254743, 7.23],
 ['20210208', 32150, 32800, 31400, 32700, 155247, 6.86],
 ['20210209', 33050, 33350, 31850, 32600, 219701, 6.47],
 ['20210210', 32300, 32600, 31800, 32600, 103745, 6.4],
 ['20210215', 32300, 32550, 31750, 32000, 124026, 6.36],
 ['20210216', 31600, 31800, 30500, 30700, 179150, 6.39],
 ['20210217', 30800, 31450, 30500, 30800, 144024, 6.44],
 ['20210218', 31200, 31200, 30200, 30300, 102950, 6.47],
 ['20210219', 30300, 30750, 29500, 30250, 101795, 6.46],
 ['20210222', 30400, 31200, 29850, 30900, 76227, 6.49],
 ['20210223', 30800, 32200, 30100, 31650, 186252, 6.5],
 ['20210224', 32450, 34150, 31000, 31000, 505446, 6.49],
 ['20210225', 32100, 32150, 31100, 31650, 71368, 6.42],
 ['20210226', 30650, 31500, 30200, 31250, 129822, 6.4],
 ['20210302', 31800, 32000, 30150, 30200, 122934, 6.18],
 ['20210303', 30400, 31550, 29900, 31400, 96031, 6.15],
 ['20210304', 31000, 31750, 30750, 31150, 77512, 6.02],
 ['20210305', 30500, 32200, 30500, 31100, 48438, 6.01],
 ['20210308', 31150, 31200, 29000, 29600, 179524, 5.95],
 ['20210309', 29800, 29900, 28850, 29450, 60423, 5.94],
 ['20210310', 29550, 30000, 28500, 28650, 59629, 5.89],
 ['20210311', 28700, 28850, 28000, 28650, 73755, 5.97],
 ['20210312', 28600, 29400, 28400, 28700, 63326, 5.93],
 ['20210315', 29100, 30100, 28900, 29650, 103074, 5.8],
 ['20210316', 30300, 30300, 29500, 30050, 60418, 5.69],
 ['20210317', 29900, 30350, 29650, 30050, 51870, 5.64],
 ['20210318', 30500, 30600, 29850, 30250, 55113, 5.56],
 ['20210319', 29600, 30150, 29600, 30100, 37786, 5.53],
 ['20210322', 29800, 30050, 29500, 29750, 48707, 5.46],
 ['20210323', 29950, 29950, 28800, 28800, 58309, 5.39],
 ['20210324', 28400, 29050, 28350, 29000, 38478, 5.39],
 ['20210325', 29000, 29000, 28350, 28750, 38539, 5.38],
 ['20210326', 28650, 29100, 28350, 28900, 47200, 5.36],
 ['20210329', 28650, 28900, 27500, 27650, 108509, 5.28],
 ['20210330', 27850, 27850, 27450, 27750, 39604, 5.28],
 ['20210331', 27750, 27750, 26700, 26700, 97894, 5.22],
 ['20210401', 26800, 27450, 26750, 26900, 34663, 5.21],
 ['20210402', 27000, 27300, 26500, 26650, 42994, 5.19],
 ['20210405', 26800, 26800, 25700, 26200, 92918, 5.26],
 ['20210406', 26500, 26650, 26200, 26400, 37288, 5.25],
 ['20210407', 26450, 28000, 26400, 27900, 100427, 5.55],
 ['20210408', 28100, 29100, 27350, 28800, 140815, 5.9],
 ['20210409', 28800, 29300, 28400, 29050, 60940, 6.06],
 ['20210412', 28950, 29200, 28500, 28950, 51627, 6.14],
 ['20210413', 28900, 29450, 28900, 29000, 51872, 6.35],
 ['20210414', 29350, 30100, 28950, 29500, 80559, 6.57],
 ['20210415', 29700, 29850, 28950, 29500, 39794, 6.59],
 ['20210416', 29650, 30200, 29100, 29750, 61960, 6.72],
 ['20210419', 29750, 29850, 28900, 29200, 59315, 6.68],
 ['20210420', 29150, 29400, 28500, 29200, 40561, 6.69],
 ['20210421', 28950, 29450, 28600, 28650, 45651, 6.65],
 ['20210422', 28700, 29000, 28400, 28450, 27445, 6.63],
 ['20210423', 28250, 28700, 28100, 28300, 27545, 6.63],
 ['20210426', 28200, 29100, 28100, 28900, 41001, 6.68],
 ['20210427', 29150, 29300, 28650, 29050, 27285, 6.67],
 ['20210428', 29100, 29400, 28450, 28650, 47043, 6.66],
 ['20210429', 28950, 30700, 28600, 30250, 207176, 7.24],
 ['20210430', 30250, 31500, 29900, 31100, 185154, 7.23],
 ['20210503', 31450, 31550, 30100, 30250, 109871, 7.1],
 ['20210504', 30600, 30750, 29050, 30000, 119006, 6.9],
 ['20210506', 30000, 32550, 29800, 32300, 197213, 7.43],
 ['20210507', 32300, 33400, 31800, 32900, 151877, 7.48],
 ['20210510', 32800, 35000, 32700, 34700, 187137, 7.69],
 ['20210511', 34500, 35500, 34150, 35050, 118116, 7.78],
 ['20210512', 34900, 35650, 32750, 33200, 198196, 7.75],
 ['20210513', 32650, 34250, 32050, 33600, 116263, 7.77],
 ['20210514', 34000, 34500, 33300, 33500, 92685, 7.68],
 ['20210517', 33750, 35150, 33200, 34900, 124814, 7.8],
 ['20210518', 35000, 35100, 33800, 34600, 98239, 7.68],
 ['20210520', 34800, 35100, 33900, 35000, 65749, 7.7],
 ['20210521', 35200, 35200, 33300, 33550, 88794, 7.66],
 ['20210524', 33550, 33750, 32500, 33200, 28004, 7.68],
 ['20210525', 33050, 34200, 33050, 33550, 39663, 7.71],
 ['20210526', 33550, 34600, 33350, 34450, 43610, 7.77],
 ['20210527', 34700, 35650, 34400, 35650, 146182, 7.81],
 ['20210528', 35850, 35900, 35150, 35600, 64025, 7.74],
 ['20210531', 35600, 35900, 34500, 35400, 69765, 7.64],
 ['20210601', 35500, 35600, 34150, 34400, 103691, 7.58],
 ['20210602', 34400, 36650, 34300, 36450, 197787, 8.07],
 ['20210603', 36950, 38050, 36300, 36300, 115028, 7.89],
 ['20210604', 36350, 36500, 35550, 35900, 67125, 7.83],
 ['20210607', 35900, 35900, 34500, 34800, 105486, 7.82],
 ['20210608', 34600, 35200, 34100, 34250, 85396, 7.83],
 ['20210609', 34300, 35250, 34250, 35250, 61995, 7.89],
 ['20210610', 35250, 35900, 34900, 35600, 69442, 7.81],
 ['20210611', 35300, 35550, 34750, 34800, 43134, 7.81],
 ['20210614', 35350, 35350, 34300, 34400, 28837, 7.78],
 ['20210615', 34450, 34450, 33700, 34000, 38013, 7.76],
 ['20210616', 34000, 34300, 33550, 34000, 50167, 7.7],
 ['20210617', 34000, 34250, 33700, 34050, 23456, 7.7],
 ['20210618', 34250, 34300, 33650, 33950, 37012, 7.7],
 ['20210621', 33700, 33700, 32750, 32750, 60929, 7.63],
 ['20210622', 33000, 33450, 32800, 33250, 24751, 7.63],
 ['20210623', 33550, 33600, 32000, 32800, 49457, 7.6],
 ['20210624', 32700, 32700, 30450, 32100, 60615, 7.57],
 ['20210625', 31950, 32450, 31900, 31900, 25268, 7.56],
 ['20210628', 31950, 32300, 31350, 32000, 52290, 7.47],
 ['20210629', 32000, 32450, 31750, 32200, 25787, 7.47],
 ['20210630', 32200, 32700, 32000, 32600, 24101, 7.44],
 ['20210701', 32900, 33050, 32050, 32750, 27937, 7.38],
 ['20210702', 32750, 32900, 31750, 32150, 30822, 7.33],
 ['20210705', 31850, 32400, 31500, 31900, 23600, 7.32],
 ['20210706', 31750, 32350, 31750, 31900, 15028, 7.33],
 ['20210707', 31850, 31850, 31050, 31200, 33804, 7.29],
 ['20210708', 30600, 31000, 28650, 29100, 160146, 7.15],
 ['20210709', 28800, 28800, 26900, 27650, 183851, 6.92],
 ['20210712', 27850, 28850, 27700, 28550, 65002, 6.94],
 ['20210713', 28850, 29200, 28550, 29050, 29273, 6.94],
 ['20210714', 28800, 28900, 28100, 28500, 31917, 6.9],
 ['20210715', 28850, 29100, 28400, 29100, 28262, 6.87],
 ['20210716', 29100, 29750, 28900, 29700, 37746, 6.85],
 ['20210719', 29600, 29650, 28500, 29050, 25052, 6.78],
 ['20210720', 28750, 29050, 28200, 28700, 40260, 6.69],
 ['20210721', 29400, 29400, 28550, 28650, 19057, 6.67],
 ['20210722', 28650, 29000, 28650, 28900, 19133, 6.68],
 ['20210723', 28900, 28950, 28500, 28500, 17589, 6.67],
 ['20210726', 28500, 28700, 27700, 27900, 31996, 6.65],
 ['20210727', 28000, 28450, 28000, 28400, 22810, 6.66],
 ['20210728', 28200, 28400, 27900, 28000, 31965, 6.62],
 ['20210729', 28000, 28350, 27750, 27950, 29356, 6.51],
 ['20210730', 27950, 28050, 27550, 27800, 12817, 6.49],
 ['20210802', 27600, 27900, 27100, 27200, 31713, 6.47],
 ['20210803', 27350, 27550, 26500, 26850, 29189, 6.43],
 ['20210804', 26850, 28150, 26650, 27850, 32445, 6.47],
 ['20210805', 27900, 28100, 27550, 27700, 18884, 6.46],
 ['20210806', 28400, 29500, 28200, 28750, 90955, 6.42],
 ['20210809', 28700, 29000, 28000, 28450, 35182, 6.39],
 ['20210810', 28450, 28450, 27450, 27750, 31327, 6.34],
 ['20210811', 27750, 27950, 27450, 27700, 16931, 6.32],
 ['20210812', 27500, 28450, 27500, 27650, 12702, 6.29],
 ['20210813', 27650, 27800, 26550, 27250, 31204, 6.27],
 ['20210817', 27150, 27150, 25600, 25600, 49668, 6.18],
 ['20210818', 25250, 26150, 25250, 25850, 17146, 6.18],
 ['20210819', 25500, 25850, 24450, 24600, 43667, 6.13],
 ['20210820', 24750, 25050, 23500, 24300, 45807, 6.08],
 ['20210823', 24250, 25600, 24050, 24850, 44058, 6.0],
 ['20210824', 25350, 25900, 25150, 25400, 41104, 6.01],
 ['20210825', 25600, 25800, 25200, 25700, 27786, 6.0],
 ['20210826', 25850, 26650, 25700, 26250, 48828, 5.84],
 ['20210827', 26000, 26550, 25600, 26300, 19120, 5.84],
 ['20210830', 26350, 27400, 26100, 27300, 56037, 5.87],
 ['20210831', 27450, 27700, 27150, 27500, 37746, 5.83],
 ['20210901', 27500, 27950, 27250, 27500, 28064, 5.8],
 ['20210902', 27750, 27800, 27300, 27500, 11222, 5.77],
 ['20210903', 27500, 27800, 27450, 27650, 11245, 5.75],
 ['20210906', 27600, 27900, 27250, 27400, 16052, 5.73],
 ['20210907', 27400, 27600, 27200, 27600, 11034, 5.73],
 ['20210908', 27600, 27600, 27100, 27400, 9711, 5.72],
 ['20210909', 27250, 27450, 27000, 27100, 11764, 5.7],
 ['20210910', 27000, 27450, 26700, 27150, 9960, 5.69],
 ['20210913', 27000, 27200, 26250, 27150, 21725, 5.63],
 ['20210914', 26850, 27950, 26850, 27700, 35745, 5.68],
 ['20210915', 27800, 27850, 27250, 27550, 16151, 5.66],
 ['20210916', 27900, 27900, 27100, 27250, 11720, 5.62],
 ['20210917', 27400, 27600, 27100, 27100, 29149, 5.54],
 ['20210923', 26700, 27400, 26550, 27000, 27216, 5.56],
 ['20210924', 27350, 28100, 27100, 27700, 38320, 5.6],
 ['20210927', 27800, 27950, 27050, 27300, 21653, 5.58],
 ['20210928', 27450, 27450, 26750, 27050, 19065, 5.54],
 ['20210929', 26500, 27000, 26500, 26700, 11045, 5.53],
 ['20210930', 26700, 27500, 26650, 26950, 11868, 5.51],
 ['20211001', 27100, 27100, 25000, 26800, 27891, 5.47],
 ['20211005', 26900, 27300, 26300, 27250, 38909, 5.49],
 ['20211006', 26950, 27500, 25800, 26300, 29122, 5.43],
 ['20211007', 26300, 26800, 26300, 26400, 12902, 5.41],
 ['20211008', 26350, 26850, 25950, 26300, 13620, 5.36],
 ['20211012', 26000, 26400, 25850, 26200, 16132, 5.36],
 ['20211013', 25900, 26600, 25900, 26350, 11577, 5.37],
 ['20211014', 26350, 26650, 26350, 26600, 15737, 5.39],
 ['20211015', 26950, 27000, 26550, 27000, 11921, 5.38],
 ['20211018', 27350, 27500, 26450, 27100, 34006, 5.31],
 ['20211019', 27050, 27300, 26800, 26800, 14665, 5.29],
 ['20211020', 27000, 27000, 26150, 26500, 20692, 5.26],
 ['20211021', 26300, 26750, 26100, 26250, 15855, 5.26],
 ['20211022', 26200, 26350, 26000, 26250, 10766, 5.25],
 ['20211025', 26400, 27100, 25900, 27000, 23253, 5.3],
 ['20211026', 27350, 27600, 27050, 27600, 28593, 5.36],
 ['20211027', 28000, 28000, 27200, 27550, 17701, 5.34],
 ['20211028', 27650, 27650, 27000, 27050, 24515, 5.31],
 ['20211029', 27150, 27250, 26250, 26500, 20592, 5.24],
 ['20211101', 26500, 26650, 26250, 26350, 7780, 5.22],
 ['20211102', 26350, 26800, 26250, 26450, 11727, 5.21],
 ['20211103', 26600, 26600, 25750, 25900, 21216, 5.16],
 ['20211104', 26000, 26350, 25350, 25700, 19361, 5.14],
 ['20211105', 25850, 25850, 24700, 25450, 20225, 5.14],
 ['20211108', 25700, 25950, 25300, 25850, 13383, 5.13],
 ['20211109', 26100, 26100, 25450, 25650, 9135, 5.12],
 ['20211110', 25650, 25650, 24850, 25150, 23170, 5.09],
 ['20211111', 24600, 25300, 24300, 24600, 20811, 5.09],
 ['20211112', 24300, 24850, 23950, 24500, 46258, 5.09],
 ['20211115', 24400, 24550, 23950, 24200, 31234, 5.08],
 ['20211116', 24400, 24650, 23950, 24450, 32468, 5.07],
 ['20211117', 24350, 24350, 23650, 23800, 28231, 5.04],
 ['20211118', 23800, 24100, 23600, 24000, 12043, 5.04],
 ['20211119', 24000, 24000, 23250, 23500, 19269, 5.02],
 ['20211122', 23650, 23750, 22800, 22800, 31032, 5.02],
 ['20211123', 22500, 23400, 22150, 22500, 36271, 5.06],
 ['20211124', 22500, 22500, 21450, 21600, 66573, 5.15],
 ['20211125', 21600, 21600, 20950, 21350, 61774, 5.24],
 ['20211126', 21000, 21250, 19900, 20300, 85678, 5.29],
 ['20211129', 19500, 20300, 19150, 20100, 51924, 5.33],
 ['20211130', 19900, 20300, 18700, 18950, 44817, 5.26],
 ['20211201', 18950, 19300, 18550, 19050, 57400, 5.4],
 ['20211202', 19000, 19450, 18600, 19400, 62277, 5.5],
 ['20211203', 19700, 20900, 19650, 20450, 45084, 5.5],
 ['20211206', 20200, 20800, 20100, 20750, 12196, 5.48],
 ['20211207', 20900, 21050, 20550, 20850, 18980, 5.45],
 ['20211208', 20900, 21300, 20400, 20500, 27567, 5.41],
 ['20211209', 20700, 20950, 20600, 20700, 18581, 5.41],
 ['20211210', 20700, 20950, 20500, 20800, 10532, 5.39],
 ['20211213', 20650, 20800, 20300, 20350, 38361, 5.37],
 ['20211214', 20250, 20500, 20000, 20200, 14114, 5.37],
 ['20211215', 20100, 20350, 19900, 20200, 34684, 5.4],
 ['20211216', 20250, 20350, 19650, 19950, 29155, 5.39],
 ['20211217', 19800, 20550, 19800, 20350, 21550, 5.43],
 ['20211220', 20350, 20350, 19900, 19950, 19327, 5.41],
 ['20211221', 20000, 20200, 19250, 20150, 33513, 5.4],
 ['20211222', 20350, 20500, 19950, 20000, 12598, 5.37],
 ['20211223', 20150, 20250, 19800, 20000, 18525, 5.37],
 ['20211224', 20000, 20200, 19750, 19800, 42327, 5.41],
 ['20211227', 19950, 19950, 19600, 19750, 15123, 5.4],
 ['20211228', 20000, 20000, 19250, 19350, 52509, 5.39],
 ['20211229', 19350, 19600, 19200, 19400, 27699, 5.42],
 ['20211230', 19500, 19600, 19150, 19300, 14993, 5.39],
 ['20220103', 19550, 19600, 19250, 19550, 12856, 5.37],
 ['20220104', 19650, 19750, 19450, 19750, 16468, 5.4],
 ['20220105', 19950, 20000, 19700, 19750, 23529, 5.37],
 ['20220106', 19600, 19850, 19550, 19550, 12954, 5.36],
 ['20220107', 19450, 19900, 19450, 19500, 14467, 5.34],
 ['20220110', 19700, 19700, 19100, 19450, 19604, 5.3],
 ['20220111', 19250, 19600, 18700, 18850, 30411, 5.26],
 ['20220112', 19000, 19800, 18850, 19500, 26258, 5.31],
 ['20220113', 19500, 20050, 19400, 19900, 19923, 5.32],
 ['20220114', 19950, 19950, 19400, 19550, 22419, 5.27],
 ['20220117', 19300, 19500, 18850, 19100, 16323, 5.23],
 ['20220118', 19150, 19450, 18550, 18700, 18948, 5.2],
 ['20220119', 18650, 18750, 17900, 18100, 43170, 5.19],
 ['20220120', 18100, 18650, 17950, 18650, 25722, 5.18],
 ['20220121', 18250, 18450, 17850, 18450, 38043, 5.21],
 ['20220124', 18100, 18100, 17350, 17600, 32188, 5.06],
 ['20220125', 17500, 17700, 16500, 16550, 54978, 4.96],
 ['20220126', 16600, 16800, 16500, 16550, 11346, 4.96],
 ['20220127', 16500, 16850, 15550, 15700, 41241, 4.86],
 ['20220128', 15600, 17750, 15600, 16850, 32047, 4.85],
 ['20220203', 17400, 17950, 17100, 17750, 24352, 4.86],
 ['20220204', 17650, 18700, 17200, 18650, 46027, 4.83],
 ['20220207', 18650, 18950, 17800, 18850, 29751, 4.78],
 ['20220208', 18850, 19650, 18850, 19300, 38946, 4.76],
 ['20220209', 19750, 19850, 18500, 19750, 39803, 4.77],
 ['20220210', 20000, 20000, 19450, 19900, 21213, 4.73],
 ['20220211', 19750, 20000, 19650, 20000, 36427, 4.64],
 ['20220214', 19100, 19750, 19100, 19750, 29880, 4.58],
 ['20220215', 19750, 19750, 18700, 18700, 32253, 4.54],
 ['20220216', 19350, 19400, 19000, 19250, 38652, 4.46],
 ['20220217', 19350, 20100, 19100, 19400, 62895, 4.53],
 ['20220218', 19300, 20450, 18900, 20450, 52478, 4.55],
 ['20220221', 20200, 22300, 19850, 22000, 196813, 4.43],
 ['20220222', 21600, 22350, 21200, 22000, 84428, 4.35],
 ['20220223', 21750, 22000, 21450, 21600, 37901, 4.3],
 ['20220224', 21400, 21400, 20500, 21000, 50468, 4.25],
 ['20220225', 21000, 21900, 20800, 21200, 38574, 4.17],
 ['20220228', 21650, 21650, 20900, 21150, 25643, 4.12],
 ['20220302', 20700, 20800, 20250, 20750, 47523, 4.11],
 ['20220303', 21100, 21500, 20550, 21500, 38528, 4.08],
 ['20220304', 21250, 21500, 20700, 20950, 39456, 4.06],
 ['20220307', 20500, 20700, 19850, 20650, 48718, 4.04],
 ['20220308', 20000, 20400, 19750, 20000, 34025, 4.07],
 ['20220310', 20450, 21000, 20300, 20650, 14328, 4.07],
 ['20220311', 20400, 21500, 20400, 21350, 32137, 4.15],
 ['20220314', 21450, 21650, 21100, 21350, 19666, 4.15],
 ['20220315', 21400, 22200, 21350, 21500, 29885, 4.14],
 ['20220316', 22000, 22300, 21750, 22300, 29039, 4.13],
 ['20220317', 22550, 22550, 21750, 22100, 27025, 4.05],
 ['20220318', 21950, 22000, 21500, 21850, 64391, 4.04],

In [49]:
temp_df = pd.DataFrame(tmp[1:], columns=tmp[0])

In [44]:
from tqdm import tqdm
## 앞으로 utf-8-sig 이것으로 인코딩하자

for i in tqdm(target['ISU_SRT_CD']):
    r3 = requests.post(sise_url2.format(i))
    tmp = eval(r3.text.replace("\n","").strip())
    temp_df = pd.DataFrame(tmp[1:], columns=tmp[0])
    # temp_df['StockCode'] = i.zfill(6) 
    
    temp_df.to_csv("C:\workspace\Bootcamp_basic_DataEngineering\stock\{}.csv".format(i),encoding="utf-8-sig")

100%|██████████| 2570/2570 [02:22<00:00, 18.08it/s]

In [101]:
help(pd.DataFrame.to_csv)

Help on function to_csv in module pandas.core.generic:

to_csv(self, path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'str | Callable | None' = None, columns: 'Sequence[Hashable] | None' = None, header: 'bool_t | list[str]' = True, index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, mode: 'str' = 'w', encoding: 'str | None' = None, compression: 'CompressionOptions' = 'infer', quoting: 'int | None' = None, quotechar: 'str' = '"', lineterminator: 'str | None' = None, chunksize: 'int | None' = None, date_format: 'str | None' = None, doublequote: 'bool_t' = True, escapechar: 'str | None' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'str | None'
    Write object to a comma-separated values (csv) file.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string. If a non-binary file object is passed, it should
        be opened with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, Callable, default None
        Format string for floating point numbers. If a Callable is given, it takes
        precedence over other numeric formatting parameters, like decimal.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str, default 'w'
        Python write mode. The available write modes are the same as
        :py:func:`open`.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    lineterminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

        .. versionchanged:: 1.5.0

            Previously was line_terminator, changed for consistency with
            read_csv and the standard library 'csv' module.

    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

    To write a csv file to a new folder or nested folder you will first
    need to create it using either Pathlib or os:

    >>> from pathlib import Path  # doctest: +SKIP
    >>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
    >>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv(filepath)  # doctest: +SKIP

    >>> import os  # doctest: +SKIP
    >>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP

In [54]:
pd.read_csv("C:\workspace\Bootcamp_basic_DataEngineering\stock\\001045.csv").head()

   Unnamed: 0        날짜     시가     고가     저가     종가   거래량  외국인소진율  StockCode
0           0  20201012  47500  47900  47200  47800  5710    8.29       1045
1           1  20201013  47800  48100  47550  48100  6059    8.31       1045
2           2  20201014  48100  48100  47400  47700  7670    8.33       1045
3           3  20201015  48250  48250  47200  47700  3207    8.33       1045
4           4  20201016  47700  47700  46100  47450  5199    8.34       1045

str

### 위와 같지만 다른 코드

In [13]:
import os
import csv
from tqdm import tqdm

In [15]:
os.path

In [ ]:

## 주소 안에 stock 폴더 있는 지 여부 확인
### 이후 없다면 생성까지.
if os.path.isdir("./stock")  == False:
    os.mkdir("./stock")

In [ ]:

### csv 패키지를 활용해서 작성.
for code in tqdm(target['ISU_SRT_CD']):
    r2 = requests.post(sise_url.format(code))
    data_list = eval(r2.text.replace("\n", "").strip())
    with open('./stock/{}.csv'.format(code), 'w', encoding='utf-8-sig', newline='') as csvfile:
        writer = csv.writer(csvfile)
        for x in data_list:
            writer.writerow(x)

# 다운 받은 `csv` 파일들 `DB`에 저장.

In [8]:
import pymysql

In [9]:
try:
    con = pymysql.connect(host='localhost', user='root', password='8489',  
                          db='encore', charset='utf8')
    cur = con.cursor()
except Exception as e:
    print (e)

In [10]:
cur.execute("show tables")

8

In [45]:
cr_table ="""CREATE TABLE stock(
    StockCode VARCHAR(255),
    Date DATE,
    Open INT(11),
    High INT(11),
    Low INT(11),
    Close INT(11),
    Volume INT(11),
    ForeignExRate FLOAT(7,2),
    PRIMARY KEY(`StockCode`, `Date`)
);"""

In [46]:
cur.execute(cr_table)

0

### 테스트

In [11]:
with open("./stock/006840.csv", "r", encoding='utf-8') as f:
    for idx, x in enumerate(f):
        if idx > 0 and idx <5:
            print([f"{'006840'}"] + x.strip().split(",")[1:])
            # try:
            #     cur.execute(sql, [f"{'006840'}"] + x.strip().split(","))
            # except Exception as e:
            #     print(e)

['006840', '20201012', '17500', '18600', '17500', '18600', '104854', '10.06']
['006840', '20201013', '18650', '19000', '18400', '18650', '80312', '9.95']
['006840', '20201014', '18650', '18900', '18050', '18300', '36597', '9.86']
['006840', '20201015', '18200', '18350', '17550', '17700', '46155', '9.86']

In [16]:
with open("./stock/006840.csv","r",encoding="utf-8") as f:
    for idx, x in enumerate(f):
        if idx >0 and idx <5:
            print(["006840"]+x.strip().split(","))

['006840', '0', '20201012', '17500', '18600', '17500', '18600', '104854', '10.06']
['006840', '1', '20201013', '18650', '19000', '18400', '18650', '80312', '9.95']
['006840', '2', '20201014', '18650', '18900', '18050', '18300', '36597', '9.86']
['006840', '3', '20201015', '18200', '18350', '17550', '17700', '46155', '9.86']

### SQL 쿼리로 테이블에 데이터 삽입

In [12]:
sql = "INSERT INTO stock VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"

In [57]:
# for i in target['ISU_SRT_CD']:
#     with open("./stock/{}.csv".format(i),"r",encoding="utf-8") as f:
#         for idx, x in enumerate(f):
#             if idx >0 and idx <2:
#                 print([f"{i}"]+x.strip().split(","))

In [13]:
import os, glob
from tqdm import tqdm

In [55]:
glob.glob("./stock/*.csv")[:5]

['./stock\\000020.csv',
 './stock\\000040.csv',
 './stock\\000050.csv',
 './stock\\000070.csv',
 './stock\\000075.csv']

In [56]:
glob.glob("./stock/*.csv")[0].split("\\")[-1].split(".")[0]

'000020'

In [14]:
for file in tqdm(glob.glob("./stock/*.csv")):
    code = file.split("\\")[-1].split(".")[0]
    
    with open(file, "r", encoding='utf-8') as f:
        for idx, x in enumerate(f):
            if idx > 0 :
                try:
                    cur.execute(sql, [f"{code}"] + x.strip().split(",")[1:])
                except Exception as e:
                    print(e)

  0%|          | 0/2570 [00:00<?, ?it/s]

100%|██████████| 2570/2570 [02:37<00:00, 16.32it/s]

In [15]:
con.commit()

### MySQL DB로 부터 데이터를 받아 간단 사용해보기

In [16]:
import pandas as pd
import pymysql

In [17]:
df = pd.read_sql("select * from stock", con=con)

C:\Users\Playdata\AppData\Local\Temp\ipykernel_17272\3748640740.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from stock", con=con)

In [20]:
df['Close'].rolling(5).std()[10:16]

10    1298.075499
11    1361.249426
12    1155.638352
13    1148.368408
14     897.635784
15     700.535509
Name: Close, dtype: float64

In [24]:
import numpy as np
df.loc[0, 'High'] = np.nan

0              NaN
1          24550.0
2          24200.0
3          23850.0
4          22950.0
            ...
1699532     2120.0
1699533     2060.0
1699534     2065.0
1699535     2055.0
1699536     2105.0
Name: High, Length: 1699537, dtype: float64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699537 entries, 0 to 1699536
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   StockCode      object
 1   Date           object
 2   Open           int64
 3   High           float64
 4   Low            int64
 5   Close          int64
 6   Volume         int64
 7   ForeignExRate  float64
dtypes: float64(2), int64(4), object(2)
memory usage: 103.7+ MB