In [2]:
import requests
from datetime import datetime 
import time
import pandas as pd

In [9]:
# 전국 스타벅스 매장 데이터 가져오기
url = "https://www.starbucks.co.kr/store/getSidoList.do" ## 전국 매장찾기 get 메서드
tmp_url= 'https://www.starbucks.co.kr/store/getStore.do?r=804IUG79N7' ## 한 지역 매장찾기 get 메서드
r = requests.post(url)
# r.json()["list"]

In [6]:
payload = {"in_scodes"  : "0",
"ins_lat"  : "37.56682",
"ins_lng"  : "126.97865",
"search_text"  : "",
"p_sido_cd"  : "01",
"p_gugun_cd"  : "",
"isError"  : "true",
"in_distance"  : "0",
"in_biz_cd"  : "",
"iend"  : "1000",
"searchType"  : "C",
"set_date"  : "",
"rndCod"  : "XWFIOYRRGB",
"all_store"  : "0",
"T03"  : "0",
"T01"  : "0",
"T27"  : "0",
"T12"  : "0",
"T09"  : "0",
"T30"  : "0",
"T05"  : "0",
"T22"  : "0",
"T21"  : "0",
"T10"  : "0",
"T36"  : "0",
"T43"  : "0",
"T48"  : "0",
"Z9999"  : "0",
"P10"  : "0",
"P50"  : "0",
"P20"  : "0",
"P60"  : "0",
"P30"  : "0",
"P70"  : "0",
"P40"  : "0",
"P80"  : "0",
"whcroad_yn"  : "0",
"P90"  : "0",
"P01"  : "0",
"new_bool"  : "0",}

In [10]:
total = []

for x in r.json()['list']:
    payload['p_sido_cd'] = x['sido_cd']
    temp_r = requests.post(tmp_url, data=payload)
    print(temp_r.json()['list'].__len__())
    total.append(pd.DataFrame(temp_r.json()['list']))

601
444
64
81
64
137
33
75
32
75
56
31
33
44
30
28
13

In [11]:
df = pd.concat(total)
star_df = df[["s_name","tel","fax","addr","defaultimage","open_dt","doro_address","lat","lot",]].copy()

In [14]:
star_df.head()

,s_name,tel,fax,addr,defaultimage,open_dt,doro_address,lat,lot
0,역삼아레나빌딩,1522-3232,02-568-3763,서울특별시 강남구 역삼동 721-13 아레나빌딩,/upload/store/2020/09/[3762]_20200917031519_6j...,20190613,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069
1,논현역사거리,1522-3232,02-3442-3673,서울특별시 강남구 논현동 142-2 정일빌딩,/upload/store/2018/12/[3672]_20181211120009_t9...,20181123,서울특별시 강남구 강남대로 538 (논현동),37.510178,127.022223
2,신사역성일빌딩,1522-3232,02-547-3859,서울특별시 강남구 논현동 18-4 성일빌딩,/upload/store/2022/01/[3858]_20220127064243_5k...,20191219,서울특별시 강남구 강남대로 584 (논현동),37.5139309,127.0206057
3,국기원사거리,1522-3232,02-568-3669,서울특별시 강남구 역삼동 648-22 동찬빌딩,/upload/store/2019/07/[3669]_20190730073527_5n...,20190731,서울특별시 강남구 테헤란로 125 (역삼동),37.499517,127.031495
4,대치재경빌딩R,1522-3232,02-568-3705,서울특별시 강남구 대치동 599 대원빌딩,/upload/store/2019/02/[3703]_20190215093408_m3...,20190214,서울특별시 강남구 남부순환로 2947 (대치동),37.494668,127.062583

In [16]:
star_df.tail()

,s_name,tel,fax,addr,defaultimage,open_dt,doro_address,lat,lot
8,세종아름,1522-3232,044-862-4025,"세종특별자치시 아름동 1329 다올비즈니스센터 103,104,105,202,203호",/upload/store/2021/02/[4020]_20210223095558_bl...,20210226,"세종특별자치시 아름서1길 13-9 (아름동) 103,104,105,202,203호",36.51188,127.24277
9,세종반곡,1522-3232,044-862-4430,"세종특별자치시 반곡동 41-17 105호,106호,107호,108호,204호,205...",/upload/store/2023/08/[4429]_20230816054209_d3...,20230622,세종특별자치시 한누리대로 1844 (반곡동),36.4978562567888,127.31004736092
10,세종한솔,1522-3232,044-866-4342,세종특별자치시 한솔동 968 공원빌딩,/upload/store/2022/09/[4343]_20220928094927_h7...,20220929,세종특별자치시 노을3로 101 (한솔동),36.479955,127.253348
11,세종소담,1522-3232,044-862-3977,"세종특별자치시 소담동 539 새샘마을7단지 근린생활시설 -1동 12호,13호,14호...",/upload/store/2021/01/[3976]_20210110113241_t1...,20210115,"세종특별자치시 소담3로 8 (소담동) 1동 12호,13호,14호,15호,15a호,16호",36.485755,127.300509
12,세종충남대학교병원,1522-3232,044-862-4127,세종특별자치시 도담동 407 세종충남대학교병원 헬스케어센터 1층,/upload/store/2021/06/[4127]_20210608072858_t0...,20210609,세종특별자치시 보듬7로 20 (도담동) 헬스케어센터 1층,36.51936,127.25828

In [17]:
day_df = star_df.copy()

In [20]:
date_format = "%Y%m%d"  # 날짜 형식 지정
weekday_values = []  # 요일 값을 저장할 리스트 초기화

# 요일 값에 해당하는 요일명 저장 딕셔너리
days = {
    0: 'Mon', 
    1: 'Tue', 
    2: 'Wed', 
    3: 'Thu', 
    4: 'Fri', 
    5: 'Sat', 
    6: 'Sun'
    }

for i in day_df['open_dt']:
    # 문자열을 datetime 객체로 변환
    date_obj = datetime.strptime(i, date_format)

    # print(date_obj)
    weekday = days[date_obj.weekday()]
    weekday_values.append(weekday)
    
    
day_df['open_weekday'] = weekday_values  # 열에 리스트의 값을 할당

In [19]:
day_df['open_weekday'].value_counts()

## 목요일에 가장많이 스타벅스 매장이 오픈했다.

open_weekday
Thu    600
Fri    489
Tue    312
Wed    309
Mon    110
Sat     19
Sun      2
Name: count, dtype: int64